@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600&family=Signika:wght@500&display=swap');

* {
    background-color: #BFCC94;
    color: #0D1821;
    font-family: "Montserrat";
    font-size: 20px;
}

header {
    height: 50px;
    margin: 20px;
    display: flex;
    justify-content: space-around;
}

main {
    text-align: center;
}

button {
    width: 250px;
    height: 60px;
    font-size: 16px;
    display: block;
    margin: 15px auto;
    padding: 10px;
    border-style: solid 3px #344966;
    border-radius: 15px 0px 15px 0px;
    background-color: #F0F4EF;
    color: #344966;
    box-shadow: 5px 5px 5px #344966;
    cursor: pointer;
}


.hidden {
    display: none;
}

#leaderboard-input {
    display: block;
    margin: 10px auto;
    padding: 15px;
    height: 40px;
    background-color: #f0f4ef;
    border-radius: 15px 0px 15px 0px;
}

#submit {
    width: 100px;
    height: 50px;
    font-size: 16px;
    display: block;
    margin: 15px auto;
    padding: 10px;
    border-style: solid 3px #344966;
    border-radius: 15px 0px 15px 0px;
    background-color: #F0F4EF;
    color: #344966;
    cursor: pointer;
}

h1 {
    font-size: 150%;
}

table {
    width: 95%;
    margin: auto;
    margin-bottom: 100px;
}

th {
    padding: 12px 15px;
    font-size: 110%;
}

td {
    padding: 12px 15px;
    font-size: 120%;
}

th:first-child, td:first-child {
    padding-left: 0; 
}
th:last-child, td:last-child {
    padding-right: 0; 
} 

@media only screen and (min-width: 720px) {
    h1 {
        font-size: 200%;
    }
    table {
        width: 60%;
    }
    th {
        font-size: 150%;
    }
    td {
        font-size: 120%;
    }
}